{% extends 'base.html' %}
{% block title %}{{trip}} View{% endblock title %}
{% block body %}
<div class='ui grid'>
    <div class='doubling two column row'>
        <div class='column'>
            <h1 class='ui header'>Trip {{trip}}</h1>
        </div>
        <div class='right aligned column'>
            <div class='ui tiny buttons'>
                {% if not trip.invoice %}
                <a class="ui button" href='/trip/invoice/{{trip.id}}/'>Create Invoice</a>
                {% endif %}
                <a class='ui link button' href='/trip/edit/{{trip.id}}/'><i class='edit icon'></i>Edit</a>
                <a class='ui red link button' href='/trip/delete/{{trip.id}}/'><i class='circle remove icon'></i>Delete</a>
            </div>
        </div>
    </div>
</div>
<div class='ui divider'></div>
<div class='ui grid'>

    {% if trip.has_invoice %}
    <div class='row'>
        <div class='eight wide column left aligned'>
            <h3>{{trip.pickup_set.all|length}} Pickup{{trip.pickup_set.all|pluralize}}</h3>
        </div>
        <div class='eight wide column right aligned'>
            <h3><a href='/invoice/view/{{trip.invoice.id}}/'>Invoice #{{trip.invoice}}</a></h3>
        </div>
    </div>
    {% endif %}
    
    {% for pickup in trip.pickup_set.all %}
    <div class='three column row'>
        <div class='column'>{{pickup.get_address_information}}</div>
        <div class='column'>{{pickup.date}}</div>
    </div>
    {% endfor %}
    
    <h3>{{trip.delivery_set.all|length}} Deliver{{trip.delivery_set.all|pluralize:"y,ies"}}</h3>
    {% for delivery in trip.delivery_set.all %}
    <div class='three column row'>
        <div class='column'>{{delivery.get_address_information}}</div>
        <div class='column'>{{delivery.date}}</div>
    </div>
    {% endfor %}
</div>
{% endblock body %}